include "input.kdl"
include "output.kdl"
include "env.kdl"
include "looknfeel.kdl"
include "keybindings.kdl"
include "rules.kdl"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

spawn-sh-at-startup "dbus-update-activation-environment --systemd --all"
spawn-sh-at-startup "systemctl --user start niri-session.target"
