environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
}

input {
    keyboard {
        xkb {
            layout "br"
        }
    }
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

output "eDP-1" {
    mode "3456x2160@60.001"
    scale 2
    position x=0 y=0
}

output "DP-4" {
    mode "3840x2160@59.997"
    scale 2
    position x=1728 y=0
}

layout {
    gaps 10
    center-focused-column "never"
    default-column-width { proportion 0.5; }
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
    }

    focus-ring {
        width 2
        active-gradient from="#b4befeAA" to="#eba0acAA" angle=135
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

// spawn-at-startup "alacritty" "-e" "fish"
spawn-at-startup "swaybg" "-m" "fill" "-i" "/home/marcus/Pictures/wall.jpg"
//spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
prefer-no-csd

animations {
    off
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Return { spawn "alacritty"; }
    Mod+Space { spawn "fuzzel"; }
    Super+Alt+L { spawn "swaylock"; }
    // Mod+T { spawn "bash" "-c" "notify-send hello && exec alacritty"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Mod+Q { close-window; }

    Mod+Left        { focus-column-left; }
    Mod+Right       { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }

    Mod+Up          { focus-column-first; }
    Mod+Down        { focus-column-last; }
    Mod+Shift+Up    { move-column-to-first; }
    Mod+Shift+Down  { move-column-to-last; }

    Mod+Tab  { focus-monitor-left; }
    Mod+Shift+Tab { focus-monitor-right; }

    Mod+X  { move-column-to-monitor-left; }
    Mod+Shift+X { move-column-to-monitor-right; }

    Mod+A  { move-workspace-to-monitor-left; }
    Mod+Shift+A  { move-workspace-to-monitor-right; }

    Mod+Ctrl+Down { move-column-to-workspace-down; }
    Mod+Ctrl+Up   { move-column-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+V       { toggle-window-floating; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}