binds {
    Mod+Return            { spawn-sh "alacritty"; }
    Mod+Shift+E           { quit; }
    Mod+B                 { spawn-sh "DRI_PRIME=pci-0000_00_02_0 VK_LOADER_DRIVERS_SELECT=*intel* LIBVA_DRIVER_NAME=iHD brave %U"; }
    Mod+W                 { close-window; }
    Mod+Q                 { toggle-overview; }
    Mod+Left              { focus-column-left; }
    Mod+Right             { focus-column-right; }
    Mod+Shift+Left        { move-column-left; }
    Mod+Shift+Right       { move-column-right; }
    Mod+Up                { focus-column-first; }
    Mod+Down              { focus-column-last; }
    Mod+Tab               { focus-monitor-next; }
    Mod+X                 { move-column-to-monitor-next; }
    Mod+F                 { maximize-column; }
    Mod+R                 { switch-preset-column-width; }
    Mod+V                 { toggle-window-floating; }

    Mod+1                 { focus-workspace 1; }
    Mod+2                 { focus-workspace 2; }
    Mod+3                 { focus-workspace 3; }
    Mod+4                 { focus-workspace 4; }
    Mod+5                 { focus-workspace 5; }
    Mod+Shift+1           { move-column-to-workspace 1; }
    Mod+Shift+2           { move-column-to-workspace 2; }
    Mod+Shift+3           { move-column-to-workspace 3; }
    Mod+Shift+4           { move-column-to-workspace 4; }
    Mod+Shift+5           { move-column-to-workspace 5; }

    Mod+Space             { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    XF86AudioRaiseVolume  { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume  { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute         { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86Open              { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86MonBrightnessUp   { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
    Mod+Z                 { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "notifications" "toggleDND"; }
}
