@define-color module-bg #1e1e2e;

* {
    font-family: "Hack Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

#waybar {
    background: transparent;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

#clock, #battery, #cpu, #memory, #tray, #notification {
    padding: 4px 6px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
